<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container todoapp">
  <div class="row">
      <div class="col s12">
          <h1>My Task Sheet</h1>
        </div>
        <div class="input-field col s6">
            <input placeholder="Add task from here" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()" id="todo-input" type="text" class="validate new-todo">
            <label for="todo-input">Task Area</label>

            <div class="section" *ngIf="todos.length > 0">
                <span class="todo-count">Today's pending {{todos.length == 1 ? 'task' : 'tasks'}} : <strong>{{todos.length}}</strong> </span>
            </div>
          </div>
        <div class="col s4 offset-s2" *ngIf="todos.length > 0">
            <div class="divider"></div>
            <ul class="todo-list">
                <li *ngFor="let todo of todos" [class.completed]="todo.complete"> 
                    <div class="row">               
                  <div class="section s12">
                    <div class="col s10">
                        <input id="done" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete"/>
                        <label for="done">{{todo.title}}</label>
                      </div>
                        <div class="col s2">
                        <button class="btn waves-effect waves-light" type="button" name="action" (click)="removeTodo(todo)">
                            <i class="small material-icons">delete_forever</i>
                          </button>
                        </div>
                  </div>
                  </div>
                  <div class="divider"></div>
                </li>
              </ul>
        </div>
    </div>
</div>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Area</h5>
          <p class="grey-text text-lighten-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>